.desktopNavigationWrapper{
	display: grid;
	grid-template-columns:  repeat(20,1fr);
	grid-template-rows: repeat(1,1fr);
	background-color: rgb(66, 248, 142);
	padding:1rem;
}
.navigationHome{
	grid-column: 4/5;
}

.navigationNews{
	grid-column: 5/6;
}
.fact{
	grid-column: 6/7;
}
.navigationHome, .navigationNews, .fact{
	cursor: pointer;
	align-self: center;
	justify-self: center;
	font-size: 1.2rem;
	grid-row: 1/1;
	text-transform: uppercase;
}
